<div class="carousel w-auto m-10">
  <div id="slide1" class="carousel-item relative w-full">
    <img src="https://img.ltwebstatic.com/images3_ccc/2023/10/23/77/1698052305c7e0fe78d26619f883b5a6444a5d9645_thumbnail_2000x.webp" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide4" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide2" class="carousel-item relative w-full">
    <img src="https://marketplace.canva.com/EAFIMHQ5yhE/1/0/1600w/canva-orange-and-teal-summer-sale-kids-fashion-bright-website-banner-L6kUMOWkkho.jpg" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide1" class="btn btn-circle">❮</a>
      <a href="#slide3" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide3" class="carousel-item relative w-full">
    <img src="https://marketplace.canva.com/EAFIMHQ5yhE/1/0/1600w/canva-orange-and-teal-summer-sale-kids-fashion-bright-website-banner-L6kUMOWkkho.jpg" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide2" class="btn btn-circle">❮</a>
      <a href="#slide4" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide4" class="carousel-item relative w-full">
    <img src="https://marketplace.canva.com/EAFIMHQ5yhE/1/0/1600w/canva-orange-and-teal-summer-sale-kids-fashion-bright-website-banner-L6kUMOWkkho.jpg" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide3" class="btn btn-circle">❮</a>
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>
<h1 class="text-center text-3xl font-bold">Shop By Category</h1>
<div class="grid grid-flow-col xs:grid-flow-row justify-center gap-10 m-20">
  <div *ngFor="let category of categories | slice:0:4" class="text-center w-fit flex justify-center items-center">
    <a href="#" class="text-lg inline-block text-center p-auto hover:underline">
      <img class="w-24 mx-auto mb-2 h-24 rounded-full bg-slate-200" src={{category.pictureUrl}} alt="">
      <p>{{category.name}}</p>
    </a>
  </div>
</div>
<h1 class="text-3xl font-bold sm:mx-10 mb-10 mx-20 mt-20">Newly Added</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4 justify-center m-10">
  <div *ngFor="let product of products | slice:0:5" class="max-w-xs rounded overflow-hidden shadow-sm relative bg-white">
    <div class="relative">
      <img class="w-full h-80" src={{product.thumbnailUrl}} alt="Product Image">
      <div class="absolute bg-slate-200 hover:bg-opacity-30 top-0 left-0 w-full h-full flex items-center justify-center opacity-0 hover:opacity-100 transition-all duration-300">
        <button (click)="addToCart(product)" class="bg-slate-800 hover:bg-slate-900 text-white font-bold py-2 px-4 rounded mr-2">
          <i class="fas fa-shopping-bag"></i>
        </button>
        <button class="bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 rounded mr-2">
          <i class="fas fa-heart"></i>
        </button>
        <a routerLink="viewProduct/{{product.id}}" class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded mr-2">
          <i class="fas fa-eye"></i>
        </a>
      </div>
      <div class="badge bg-red-500 text-white badge-lg absolute top-1 left-1"> New </div>
    </div>
    <div class="p-4 flex justify-between">
      <div>
        <div class="font-bold text-xl mb-2">{{product.name}}</div>
        <p class="text-gray-700 text-base">{{product.description}}</p>
      </div>
      <p class="text-gray-900 text-lg font-bold">${{product.price}}</p>
    </div>
  </div>
</div>
<div class="flex m-10 gap-6 justify-center mx-20">
  <div class="hero flex-col items-center justify-start w-full" style="background-image: url(https://www.demo.martvill.techvill.net/public/uploads/20221117/3da9cf6e2d7830531e5fd19f488bb7ce.webp);">
    <div class="hero-overlay bg-opacity-0"></div>
    <div class="hero-content">
      <div class="p-10">
        <h1 class="mb-5 text-2xl font-bold text-slate-900">WINTER IMPORTED</h1>
        <p class="mb-5 text-xl text-slate-900">JACKETS</p>
        <button class="btn btn-outline btn-primary">Get Started</button>
      </div>
    </div>
  </div>
  <div class="hero flex-col items-center justify-start w-full" style="background-image: url(https://www.demo.martvill.techvill.net/public/uploads/20221117/b657ae96d2ef4eacce5c7d3254f92c92.webp);">
    <div class="hero-overlay bg-opacity-0"></div>
    <div class="hero-content">
      <div class="p-10">
        <h1 class="mb-5 text-2xl font-bold text-slate-900">New Martvill’s</h1>
        <p class="mb-5 text-xl text-slate-900">LIVING & FASHION</p>
        <button class="btn btn-outline btn-primary">Get Started</button>
      </div>
    </div>
  </div>
</div>
<h1 class="text-3xl font-bold sm:mx-10 mb-10 mx-20 mt-20">Best Seller</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4 justify-center m-10">
  <div *ngFor="let product of products | slice:0:5" class="max-w-xs rounded overflow-hidden shadow-sm relative bg-white">
    <div class="relative">
      <img class="w-full h-80" src={{product.thumbnailUrl}} alt="Product Image">
      <div class="absolute bg-slate-200 hover:bg-opacity-30 top-0 left-0 w-full h-full flex items-center justify-center opacity-0 hover:opacity-100 transition-all duration-300">
        <button (click)="addToCart(product)" class="bg-slate-800 hover:bg-slate-900 text-white font-bold py-2 px-4 rounded mr-2">
          <i class="fas fa-shopping-cart"></i>
        </button>
        <button class="bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 rounded mr-2">
          <i class="fas fa-heart"></i>
        </button>
        <a routerLink="viewProduct/{{product.id}}" class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded mr-2">
          <i class="fas fa-eye"></i>
        </a>
      </div>
    </div>
    <div class="p-4 flex justify-between">
      <div>
        <div class="font-bold text-xl mb-2">{{product.name}}</div>
        <p class="text-gray-700 text-base">{{product.description}}</p>
      </div>
      <p class="text-gray-900 text-lg font-bold">${{product.price}}</p>
    </div>
  </div>
</div>
<h1 class="text-3xl font-bold sm:mx-10 mb-10 mx-20 mt-20">Explore Our Stores</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-2 justify-center m-10">
  <div *ngFor="let store of stores | slice:0:5" class="border w-80 bg-white border-slate-200 p-3">
    <a routerLink="viewByStore/{{store.id}}"><img class="h-48 m-auto" src={{store.thumbnailUrl}} alt=""></a>
  </div>
</div>
